<table class="table table-bordered">
  <%= render 'shared/header_row' %>
  <%= render 'shared/totals_row' %>
</table>

<% round_turns.each do |turn_number, turn_stats| %>
  <div class="row">
    <div class="col-9">
      <% turn_stats["roll"].each do |dice| %>
        <%= image_tag "dice-#{dice['value']}-#{dice['counted'] ? 'success' : 'failed'}", class: "dice-face dice-face-#{dice['counted'] ? 'success' : 'failed'}" %>
      <% end %>
    </div>
    <div class="col-3">
      <div class="turn-score-badge">
        <strong class="badge badge-success badge-lg-blue"><%= turn_stats["score"] %> pts.</strong>
      </div>
    </div>
  </div>

  <% if turn_number == params.fetch(:turn, "1") %>
    <div class="row">
      <div class="col-6">
        <% unless turn_number.to_i == 4 || turn_stats["remaining_dice_count"].zero? %>
          <%= link_to "Roll: #{turn_stats['remaining_dice_count']} dice remaining", round_path(
            round,
            turn: (turn_number.to_i + 1),
            remaining_dice_count: turn_stats["remaining_dice_count"]),
          method: :put,
          class: "btn btn-primary btn-lg btn-block" %>
        <% end %>
      </div>
      <div class="col-6">
        <%= link_to "Stay", round_path(round,
          stay: true,
          turn: (turn_number.to_i + 1),
          remaining_dice_count: turn_stats["remaining_dice_count"]),
        method: :put,
        class: "btn btn-secondary btn-lg btn-block" %>
      </div>
    </div>
  <% end %>
<% end %>
