<table class="table table-bordered">
  <tr>
    <% @scoreboard.header_row.each.with_index do |cell, i| %>
      <td
        class="<%= i > 0 ? 'text-center' : 'first-column' %>
        <%=  @round.player.username== cell ? "active" : "" %>"
      ><%= cell %></td>
    <% end %>
  </tr>
  <tr>
    <% @scoreboard.totals_row.each.with_index do |cell, i| %>
      <th class="<%= i > 0 ? 'text-center' : 'first-column' %>"><%= cell %></th>
    <% end %>
  </tr>
  </tbody>
</table>

<% @round_turns.each do |turn_number, turn_stats| %>
  <div class="row">
    <div class="col-6">
      <% turn_stats["values"].each do |i| %>
        <%= image_tag "dice-#{i}", class: "dice-face" %>
      <% end %>
    </div>
    <div class="col-2">
      <div class="turn-score-badge">
        <%= turn_stats["score"] %> pts.
      </div>
    </div>
    <div class="col-3">
      <div class="dice-remaining">
        <%= turn_stats["remaining_dice_count"] %> <small>dice remaining</small>
      </div>
    </div>
  </div>

  <% if turn_number == params.fetch(:turn, "1") %>
    <div class="row">
      <div class="col-6">
        <% unless turn_number.to_i == 4 || turn_stats["remaining_dice_count"].zero? %>
          <%= link_to "Roll", round_path(
            @round,
            turn: (turn_number.to_i + 1),
            remaining_dice_count: turn_stats["remaining_dice_count"]),
          method: :put,
          class: "btn btn-primary btn-lg btn-block" %>
        <% end %>
      </div>
      <div class="col-6">
        <%= link_to "Stay", round_path(@round,
          stay: true,
          turn: (turn_number.to_i + 1),
          remaining_dice_count: turn_stats["remaining_dice_count"]),
        method: :put,
        class: "btn btn-secondary btn-lg btn-block" %>
      </div>
    </div>
  <% end %>
<% end %>
