<table class="table table-bodered">
  <tr>
    <% scoreboard.header_row.each.with_index do |cell, i| %>
      <td class="<%= i > 0 ? 'text-center' : 'first-column' %>"><%= cell %></td>
    <% end %>
  </tr>
  <%= render 'shared/totals_row' %>
  <%= render 'shared/data_rows' %>
  <% unless game.over? || scoreboard.add_next_row? %>
    <%= render 'shared/next_round_row' %>
  <% end %>
</table>
