<h1>Game #<%= @game.id %></h1>
<% unless @game.rounds.any? %>
  <%= form_for @game_player, html: { class: "form-inline" } do |f| %>
    <%= f.collection_select :player_id, Player.all, :id, :username, class: "form-control" %>
    <%= f.hidden_field :game_id, value: params[:id] %>
    <%= f.hidden_field :player_number, value: (@game.players.count + 1) %>
    <%= f.submit class: "btn"%>
  <% end %>

  <%= form_for @player, html: { class: "form-inline" } do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
    <%= f.hidden_field :game_id, value: params[:id] %>
    <%= f.hidden_field :player_number, value: (@game.players.count + 1) %>
    <%= f.submit class: "btn" %>
  <% end %>
<% end %>

<table class="table">
  <thead>
    <% @scoreboard[:header_row].each do |cell| %>
      <th><%= cell %></th>
    <% end %>
  </thead>
  <thead>
    <% @scoreboard[:totals_row].each do |cell| %>
      <th><%= cell %></th>
    <% end %>
  </thead>
  <tbody>
    <% @scoreboard[:data_rows].each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <td>
            <% if cell.is_a? Integer %>
              <%= cell %>
            <% else %>
              <%= link_to "Roll", rounds_path({ round: cell[:form_data] }), method: :post %>
            <% end %>
            </td>
        <% end %>
      </tr>
    <% end %>

    <% unless @scoreboard[:add_next_row] %>
      <tr>
        <% @scoreboard[:next_round_row].each do |cell| %>
            <td>
              <% if cell.is_a? Integer %>
                <%= cell %>
              <% else %>
                <%= link_to "Roll", rounds_path({ round: cell[:form_data] }), method: :post %>
              <% end %>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
