<h1>Game #<%= @game.id %></h1>
<% unless @game.rounds.any? %>
  <%= form_for @game_player, html: { class: "form-inline" } do |f| %>
    <%= f.collection_select :player_id, Player.all, :id, :username, class: "form-control" %>
    <%= f.hidden_field :game_id, value: params[:id] %>
    <%= f.hidden_field :player_number, value: (@game.players.count + 1) %>
    <%= f.submit class: "btn"%>
  <% end %>

  <%= form_for @player, html: { class: "form-inline" } do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
    <%= f.hidden_field :game_id, value: params[:id] %>
    <%= f.hidden_field :player_number, value: (@game.players.count + 1) %>
    <%= f.submit class: "btn" %>
  <% end %>
<% end %>

<table class="table">
  <% @scoreboard.each_with_index do |row, i| %>
    <% if i == 0 %>
      <thead>
        <% row.each do |cell| %>
          <th><%= cell %></th>
        <% end %>
      </thead>
    <% else %>
    <tbody>
      <% row.each do |cell| %>
        <td><%= cell %></td>
      <% end %>
    </tbody>
    <% end %>
  <% end %>
  <tr>
    <td></td>
    <% @game.players.each do |player| %>
      <td>
        <% round_data = { game_id: @game.id, player_id: player.id, number: @round_number } %>
        <% unless @game.rounds.find_by(round_data) %>
          <%= link_to "Roll #{player.username} Round #{@round_number}", rounds_path({ round: round_data }), method: :post %>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>
