<!DOCTYPE html>
<html>
<head>
  <title>RPharcle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand abs" href="#"><%= image_tag 'logo' %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="collapsingNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Games", games_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Rules and Scoring", rules_path, class: "nav-link" %>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Start a New Game", games_path, method: :post, class: "btn btn-bd-yellow" %>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-#{flash_type ? flash_type : 'info'}" %>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
